@import "reset.css";
@import "font.league_gothic.css";
@import "layout.css";

.syntaxhighlighter { background: #eee !important; border: 1px solid #ccc; border-top: 0; margin: 0 10px 14px 10px !important; padding: 3px; width: auto !important; }
.syntaxhighlighter table td.code .line,
.syntaxhighlighter table td.code .line code,
.syntaxhighlighter table td.gutter .line { background: #eee !important; font-family:"Monaco","Courier New",monospace !important;}
.syntaxhighlighter .toolbar { display: none !important; }

header h1 { color: #812626; font-family: "LeagueGothicRegular", Impact, Helvetica, Arial, sans-serif; font-size: 32px; padding: 14px; text-indent:10px; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.7); }

#components { float: left; padding: 14px; width: 674px; }
#components h3, #components h4, #components h5 { display: block; }

.component { display: none; }

.section {  color: #444; font-family: "Gill Sans", "Gill Sans MT", "GillSans", "GillSans MT", "Century Gothic", Verdana, Helvetica, Arial; }
.section h2 { display: block; font-size: 30px; border-bottom:1px solid #ccc; margin: 0 0 14px 0; }
.section .desc { font-size: 12px; padding: 0 10px 10px 10px; }

.methods h3 { font-size: 24px; margin: 0 0 14px 0; }
.method h4 { background: #eee; border: 1px solid #d1d1d1; margin:0 0 15px; position: relative; }
.method h4 .name { font-family:"Monaco","Courier New",monospace; display: block; border-top:1px solid #fff; padding: 6px; }
.method h4 .returns { position: absolute; top: 0; right: 0; border-top:1px solid #fff; padding: 6px; }
.method h5 { font-size: 12px; padding: 0 10px 10px 10px; }

.code { padding: 0 0 0 8px; }
.code h4 { font-size: 16px !important; border: 0 !important; border-bottom: 1px solid #ccc !important; background: 0 !important; }
.code h5 { background: #555; font-size: 20px !important; font-family: "LeagueGothicRegular", Impact, Helvetica, Arial, sans-serif; border-bottom:1px solid #333; border-top:1px solid #777; color:#fff;  margin: 14px 10px 0 10px; padding: 2px 8px !important; }
.code pre { display: block; font-family:"Monaco","Courier New",monospace; font-size: 12px; background: #eee; border: 1px solid #ccc; border-top: 0; margin: 0 10px 14px 10px; padding: 8px; }

.attributes h3 { font-size: 24px; margin: 0 0 14px 0; }
.attributes table { margin: 0 0 0 6px; }
.attributes td { padding: 3px; line-height: 13px; vertical-align: center;  }

.attributes tr.code { display: none; }
.attributes td a { color: #812626; font-family:"Monaco","Courier New",monospace; font-size: 13px; line-height: 13px; vertical-align: center;  white-space: nowrap; }
.attributes td a.toggle { color: #777; font-family: intherit; cursor: pointer; }
.attributes td em { color: #666666; font-size: 12px; line-height: 13px; vertical-align: center; white-space: nowrap;  }
.attributes td span { color: #666666; font-size: 12px; line-height: 13px; vertical-align: center; white-space: nowrap;  }
.attributes td p { font-size: 12px; padding: 0 10px 10px 10px; line-height: 13px; vertical-align: center; }
.attributes h5 { padding: 8px !important; }

.events h3 { font-size: 24px; margin: 0 0 14px 0; }
.event h4 { background: #eee; border: 1px solid #d1d1d1; margin:0 0 15px; position: relative; }
.event h4 span { font-family:"Monaco","Courier New",monospace; display: block; border-top:1px solid #fff; padding: 6px; }
.event h5 { font-size: 12px; padding: 0 10px 10px 10px; }

.signature { border-top: 1px solid #ccc; border-left: 1px solid #ccc; }
.signature code { padding: 8px; display: block; font-weight: bold; font-family:"Monaco","Courier New",monospace; font-size: 12px; }
.signature .code code { display: inline; }
.signature .attributes h3 { padding: 0 0 0 10px; font-size: 18px; }